.hero
    padding-top: 13.4375rem
    padding-bottom: 9.75rem
    h1
        color: rgba(255, 255, 255, 1)
        font-family: Gilroy-BoldItalic
        font-style: italic
        font-size: 3rem
        font-weight: 400
        line-height: 3.625rem
        margin-bottom: 1rem

    p
        color: rgba(255, 255, 255, 1)
        font-family: Gilroy-Regular
        font-size: 1.9rem
        font-weight: 400
        line-height: 2.625rem
        margin-bottom: 2.5625rem

.handwritten-text
    position: relative
    font-family: Gilroy-LightItalic
    padding-left: 0.5rem
    &::after
        content: ''
        position: absolute
        right: -0.70375rem
        top: 0
        width: 0.14375rem
        height: 100%
        background-color: rgba(96,193,0,1)
        animation: blink 1s step-end infinite
        transform: rotate(15deg)

@keyframes blink
  50%
    opacity: 0

.hero-buttons-line
    max-width: 40.875rem