.cases
    margin-bottom: 7rem
    h2
        margin-bottom: 5.0625rem

.case-cards-list
    --bs-gutter-x: 6.875rem
    --bs-gutter-y: 1.875rem
    margin-bottom: 5.3125rem

.button-wrapper a
    width: 21.2rem