/* HTML: <div class="loader"></div> */
.loader {
  height: 6.25rem;
  aspect-ratio: 1;
  position: relative;
  border: 3px solid #0000;
}
.loader:before {
  content: "";
  position: absolute;
  inset: auto 35% 0;
  aspect-ratio: 1;
  border-radius: 50%;
  background: rgba(96, 193, 0, 1);
  animation: l6-0 .5s cubic-bezier(0,800,1,800) infinite;
}
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  outline: 3px solid rgba(147, 147, 147, 1);
  animation: l6-1 .5s linear infinite;
}
@keyframes l6-0 {
  0%,2% {bottom: 0%}
  98%,to {bottom:.1%}
}
@keyframes l6-1 {
  0%,30% {rotate:  0deg}
  70%,to {rotate: 90deg}
}
.app-loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  inset: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  background: #000;
  z-index: 9999;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.app-loading h2 {
  font-size: 1.4rem;
  color: rgb(241, 241, 241);
}

.dots {
  display: inline-block;
  padding-left: 5px;
}

.dots span {
  opacity: 0;
  animation: dots 1.4s infinite;
}

.dots span:nth-child(1) { animation-delay: 0s; }
.dots span:nth-child(2) { animation-delay: 0.2s; }
.dots span:nth-child(3) { animation-delay: 0.4s; }

@keyframes dots {
  0%   { opacity: 0; }
  20%  { opacity: 1; }
  100% { opacity: 0; }
}