@use '../../styles/mixins' as m
    
.services
    margin-bottom: 7.0625rem
    h2
        margin-bottom: 4.0625rem
    h3
        color: rgba(255, 255, 255, 1)
        font-family: Gilroy-Regular
        font-size: 1.6rem
        font-weight: 400
        line-height: 3rem
        +m.media(992)
            font-size: 2.5rem

.services-cta
    display: none
    flex-wrap: wrap
    justify-content: center
    row-gap: 0.8rem
    column-gap: 1.5rem
    margin-bottom: 2.78125rem
    +m.media(714)
        display: flex
    +m.media(769)
        justify-content: space-between
        flex-wrap: nowrap
    

.services-list
    flex-direction: column-reverse
    +m.media(992)
        flex-direction: row

.technologies-circle--parent
    display: none
    width: 280px
    margin: 0 auto
    +m.media(992)
        display: block

.services-table
    width: 100%
    +m.media(992)
        max-width: 52.3125rem
    h3
        position: relative
        color: rgba(255, 255, 255, 1)
        font-family: Gilroy-Bold
        font-style: italic
        font-size: 3rem
        font-weight: 400
        margin-bottom: 0.4375rem
        transition: color .3s ease

        &::before
            content: '[ 1 ]'
            position: absolute
            display: inline-block
            color: rgba(189, 189, 189, 1)
            font-family: Gilroy-Bold
            font-style: italic
            font-size: 1rem
            line-height: 1.1875rem
            top: 0
            left: -2.375rem
            
    ul
        display: flex
        flex-wrap: wrap
        column-gap: 1.5rem
        row-gap: 0.5rem
        li
            position: relative
            color: rgba(255, 255, 255, 1)
            font-family: Gilroy-Light
            font-size: 1.25rem
            font-weight: 400
            line-height: 1.5rem
            list-style: none
            &::after
                content: ''
                position: absolute
                display: inline-block
                width: 0.4rem
                height: 0.4rem
                background: #fff
                border-radius: 50%
                top: 50%
                right: -0.95rem
                transform: translateY(-50%)
        li:last-child::after
            display: none
    td
        padding: 1rem 0
        padding-left: 2.5625rem
        border-bottom: 1px solid rgba(189, 189, 189, 1)
        cursor: pointer
        &:hover h3
            color: rgba(96, 193, 0, 1)
        &:hover a
            filter: brightness(1)
            transform: rotate(45deg)
    tr:first-child
        td
            border-top: 1px solid rgba(189, 189, 189, 1)
    tr:nth-child(2) h3::before
            content: '[ 2 ]'
    tr:last-child h3::before
            content: '[ 3 ]'
    a
        display: none
        width: 3.4375rem
        height: 3.4375rem
        background: url('/images/bold_arrow-right.svg') center no-repeat
        background-size: contain
        filter: brightness(0) invert(1)
        transition: all 0.3s ease
        +m.media(375)
            display: inline-block
                
.technologies-circle
    background: radial-gradient(circle, rgba(96, 193, 0, 0.7) 20%, rgba(96, 193, 0, 0.5) 30%,  transparent 50%)
    animation: rounding 20s linear infinite
@keyframes rounding
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)